certifi==2017.4.17
chardet==3.0.4
contextlib2==0.5.5
coreapi==2.3.1
coreschema==0.0.4
Django==1.11.2
django-allauth==0.32.0
django-grappelli==2.10.1
django-material==1.0.0
django-modeladmin-reorder==0.2
django-rest-auth==0.9.1
djangorestframework==3.6.3
drfapikey==0.0.3
drfdocs==0.0.11
idna==2.5
itypes==1.1.0
Jinja2==2.9.6
MarkupSafe==1.0
oauthlib==2.0.2
olefile==0.44
openapi-codec==1.3.1
Pillow==4.2.1
psycopg2==2.7.1
python-openid==2.2.5
pytz==2017.2
raven==6.1.0
requests==2.18.1
requests-oauthlib==0.8.0
simplejson==3.11.1
six==1.10.0
uritemplate==3.0.0
urllib3==1.21.1
