{% extends 'webclient/base.html' %}
{% load static %}

{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <article class="has-post-thumbnail hentry">
                <header class="entry-header header-with-cover-image" style="background-image: url({% static 'assets/images/products/header-image.png' %});">
                    <div class="caption">
                        <h1 class="entry-title" itemprop="name">Seleccione su ciudad</h1>
                        <br>                                        
                        <a type="button" class="btn btn-secondary" data-toggle="modal" data-target="#citySelectionModal" >
                            <span class="button_icon">
                                <i class="icon-layout"></i>
                            </span> 
                            <span class="button_label">Selecciona la Ciudad</span>
                        </a>
                    </div>
                </header><!-- .entry-header -->

                {% if request.session.city %}
                    <div class="entry-content">
                        <div class="row about-features inner-top-md inner-bottom-sm">
                            <h1 class="entry-title" itemprop="name">{{city.name}}</h1>
                            {% for store in stores %}
                                <div class="col-xs-12 col-md-3">
                                    <figure class="wpb_wrapper vc_figure outer-bottom-xs">
                                        <div class="vc_single_image-wrapper">
                                            <a href="/stores/{{store.city.slug}}/{{store.slug}}">
                                                <img src="{{store.logo.url}}" data-echo="{{store.logo.url}}" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                    </figure>
                                </div><!-- .col -->
                            {% endfor %}
                        </div><!-- .row -->
                    </div><!-- .entry-content -->
                {% endif %}

            </article><!-- #post-## -->
        </main><!-- #main -->
    </div><!-- #primary -->
{% endblock %}

{% block extra_js %}
<script>
    (function($) {
        {% if not request.session.city %}
            $('#citySelectionModal').modal('show');
        {% endif %}
    })(jQuery);
</script>
{% endblock %}