{% extends 'webclient/base.html' %}
{% load static %}
{% load webclientextras %}
{% load humanize %}

{% block content %}
<div id="primary" class="content-area">
    <main id="main" class="site-main"> 
        <div class="home-v3-slider" >
            <!-- ========================================== SECTION – HERO : END========================================= -->

            <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

                <div class="item" style="background-image: url({{object.get_web_cover_url}});">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="caption vertical-center text-left">

                                    <div class="hero-2 fadeInDown-2">
                                        {{object.name}}
                                    </div>

                                    <div class="hero-action-btn fadeInDown-3 {% if object.is_open %}green-bg{% endif %}">
                                        <a class="big le-button">
                                            {% if object.is_open %}Abierto{% else %}Cerrado{% endif %}
                                        </a>
                                    </div>
                                </div><!-- /.caption -->
                            </div><!-- /.col -->
                        </div>
                    </div><!-- /.container -->
                </div><!-- /.item -->

            </div><!-- /.owl-carousel -->

            <!-- ========================================= SECTION – HERO : END ========================================= -->

        </div><!-- /.home-v1-slider -->
        

        {% for category in webclient_context_categories %}
            {% get_filtered_products object category as filtered_products %} 
            {% if filtered_products.count > 0 %}
                <section class="products-carousel-tabs animate-in-view fadeIn animated" data-animation="fadeIn">
                    <h2 class="sr-only">Categorias</h2>
                    <ul class="nav nav-inline text-xs-left">
                        <li class="nav-item">
                            <a class="nav-link active">{{category.name}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/stores/{{object.city.slug}}/{{object.slug}}/products/{{category.slug}}/">Ver +</a>
                        </li>                                    
                    </ul>
                </section><!-- /.products-carousel-tabs -->
                <section class="products-6-1 animate-in-view fadeIn animated" data-animation="fadeIn">
                    <div class="container">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="grid" aria-expanded="true">  
                                <ul class="products columns-6">
                                    {% for product in filtered_products %}
                                        {% include 'product/product_list_detail.html' %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endfor %}
    </main><!-- #main -->
</div><!-- #primary -->
{% endblock %}