{% extends 'webclient/base.html' %}
{% load static %}

{% block content %}
<div id="primary" class="content-area">
    <main id="main" class="site-main"> 

        

        {% for category in webclient_context_categories %}
            <section class="products-carousel-tabs animate-in-view fadeIn animated" data-animation="fadeIn">
                <h2 class="sr-only">Categorias</h2>
                <ul class="nav nav-inline text-xs-left">
                    <li class="nav-item">
                        <a class="nav-link active">{{category.name}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Ver +</a>
                    </li>                                    
                </ul>
            </section><!-- /.products-carousel-tabs -->
            <section class="products-6-1 animate-in-view fadeIn animated" data-animation="fadeIn">
                <div class="container">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="grid" aria-expanded="true">  
                            <ul class="products columns-6">
                                {% for product in category.get_related_products %}
                                    <li class="product {% if forloop.first %}first{% endif %}">
                                        <div class="product-outer">
                                            <div class="product-inner">
                                                <span class="loop-product-categories"><a href="product-category.html" rel="tag">{{product.category}}</a></span>
                                                <a href="{{product.get_absolute_url}}">
                                                    <h3>{{product.name}}</h3>
                                                    <div class="product-thumbnail">
                                                        <img data-echo="{{product.get_image_url}}" src="{{product.get_image_url}}" alt="{{product.name}}">
                                                    </div>
                                                </a>
        
                                                <div class="price-add-to-cart">
                                                    <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Agregar al carrito</a>
                                                    <span class="price">
                                                        <span class="electro-price">
                                                            <ins><span class="amount">{{product.get_price}}</span></ins>
                                                            <del><span class="amount">{{product.get_price}}</span></del>
                                                        </span>
                                                    </span>
                                                    
                                                </div><!-- /.price-add-to-cart -->
                                            </div><!-- /.product-inner -->
                                        </div><!-- /.product-outer -->
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    </main><!-- #main -->
</div><!-- #primary -->
{% endblock %}