{% extends 'webclient/base.html' %}
{% load static %}

{% block head_title %}404 - No encontrado{% endblock %}

{% block content%}
<div id="content" class="site-content" tabindex="-1">
    <div class="container">

        <div id="primary" class="content-area">
            <main id="main" class="site-main center-align">
                <img width="330px" src="{% static 'assets/images/error.gif' %}" class="center-align">
                <h1>404</h1>
                <p>La página a la que intentas ingresar no está disponible o no existe</p>
                <a href="{% url 'webclient:login' %}" class="social-btn btn-primary">
                    Regresar a Tu mercado
                </a>  
            </main><!-- #main -->
        </div><!-- #primary -->

    </div><!-- .col-full -->
</div><!-- #content -->
{% endblock %}
