{% extends 'webclient/base.html' %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content%}
<div id="content" class="site-content" tabindex="-1">
    <div class="container">

        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <h1>{% trans "Social Network Login Failure" %}</h1>
                <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
            </main><!-- #main -->
        </div><!-- #primary -->

    </div><!-- .col-full -->
</div><!-- #content -->
{% endblock %}
