{% extends 'webclient/base.html' %}
{% load static %}

{% block head_title %}Error de inicio de sesión con redes sociales{% endblock %}

{% block content%}
<div id="content" class="site-content" tabindex="-1">
    <div class="container">

        <div id="primary" class="content-area">
            <main id="main" class="site-main center-align">
                <img width="120px" src="{% static 'assets/images/error.gif' %}">
                <h1>Error al iniciar sesión con tu red social</h1>
                <p>Ocurrió un error al intentar autenticarte con tu red social</p>
            </main><!-- #main -->
        </div><!-- #primary -->

    </div><!-- .col-full -->
</div><!-- #content -->
{% endblock %}
