{% load humanize %}

<li class="product {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
    <div class="product-outer">
        <div class="product-inner">
            <span class="loop-product-categories">{{product.category}}</span>
            <a href="/stores/{{product.store.city}}/{{product.store.slug}}/products/{{product.category.slug}}/{{product.slug}}/">
                <h3>{{product.name}}</h3>
                <div class="product-thumbnail">
                    <img data-echo="{{product.get_image_url}}" src="{{product.get_image_url}}" alt="{{product.name}}">
                </div>
            </a>

            <div class="price-add-to-cart">
                <a rel="nofollow" href="/stores/{{product.store.city}}/{{product.store.slug}}/products/{{product.category.slug}}/{{product.slug}}/" class="button add_to_cart_button">Agregar al carrito</a>
                <span class="price">
                    <span class="electro-price">
                        <ins><span class="amount">${{product.get_price|intcomma}}</span></ins>
                        {% if product.has_discount %}
                            <del><span class="amount">${{product.price|intcomma}}</span></del>
                        {% endif %}
                    </span>
                </span>
                
            </div><!-- /.price-add-to-cart -->
        </div><!-- /.product-inner -->
    </div><!-- /.product-outer -->
</li>